extend layouts/index-layout.pug

block script

block main-content
	.content.barba-container.content-loading(data-namespace='home')
		include components/mobile-header.pug
		.index-content
			section.new-work-wrap
				h2.font-white LATEST WORK
				.divider.bg-white
				- var list = [{img: 'images/new-work.png', serial: '#07', tag: 'SHIFT Work', title: '3M Post-it Online Advertising', loc: ""}, { img : 'images/new-work.png', serial : '#08', tag: 'SHIFT Work', title: '4M Tap-it Offline Advertising', loc: "" }, { img : 'images/new-work.png', serial : '#08', tag: 'SHIFT Work', title: '4M Tap-it Offline Advertising', loc: "" }]
					each item in list
						a.new-work.font-black(href="works.html")
							.new-work-image
								img(src=item.img)
							.new-work-des
								.new-work-des-top
									span.new-work-serial=item.serial
									| /
									span.new-work-tag=item.tag
								.new-work-des-bottom
									p.new-work-title=item.title
				a.see-more.font-blue see more >>
				a.new-work-box
					span.new-work-button
			section.c-info
				- var list = [{title: 'Average Age', number: '25', tag: 'age', value: '25'}, {title: 'Works', number: '61', tag: 'works', value: '61'}, {title: 'Cooperations', number: '22', tag: 'coop', value: '22'}]
					each item in list
						.c-info-box
							p.font-black=item.title
							.c-info-number(name=item.tag)
								span.font-white(data-value=item.value)=item.number
			include components/social.pug
			include components/copyright.pug
